<h1>Search Go packages</h1>

<form action="/" method="POST">
	<input type="search" name="search" autocomplete="off" placeholder=""/>
	<button type="submit">Search</button>
</form>

<h2>Directories</h2>

<ol>
{{range .}}
<li>
	{{dirify .}}
</li>
{{end}}
</ol>
