<html lang="en-us">
<head>
        <meta charset="utf-8">
        <title>{{.}}</title>
        <link rel="shortcut icon" href="/assets/favicon.ico ">
        <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
