<h1>Search Go packages</h1>

<form action="/" method="POST">
	<input type="search" name="search" autocomplete="off" placeholder="{{.Term}}"/>
	<button type="submit">Search</button>
</form>

<h2>Packages</h2>

<ol>
{{range $index, $doc := .Hits}}
<li>
	{{linkify $doc.ID}}
</li>
{{end}}
</ol>
